* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
}
html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #443c68;
  background: linear-gradient(
    135deg,
    rgba(68, 60, 104, 1) 18%,
    rgba(99, 89, 133, 1) 29%,
    rgba(68, 60, 104, 1) 43%,
    rgba(57, 48, 83, 1) 59%,
    rgba(68, 60, 104, 1) 71%
  );
}
