.section {
  margin: 2.2rem 0;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 80%;
    left: -10rem;
    width: 18.75rem;
    height: 18.75rem;
    background: var(--accent-1);
    border-radius: 50% 45% 45% 55% / 50% 55% 45% 55%;
    opacity: clamp(0.05, 0.15, 0.2);
    pointer-events: none;
    animation: float 25s ease-in-out infinite;
    z-index: 0;
  }

  &::after {
    content: "";
    position: fixed;
    bottom: 5%;
    right: -8rem;
    width: 17.5rem;
    height: 17.5rem;
    background: var(--accent-2);
    border-radius: 45% 55% 55% 45% / 55% 50% 45% 55%;
    opacity: clamp(0.05, 0.15, 0.2);
    pointer-events: none;
    animation: float 28s ease-in-out infinite reverse;
    z-index: 0;
  }
}

.heading {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
