.footer {
  border-top: 3px solid var(--accent-1);
  margin-top: 2rem;
  padding: 1.5rem 0;
  text-align: center;
}

.link {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--grey);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent-1);
  }
}
