.chip {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.625rem;
  background: var(--bg-light);
  border: 0.1rem solid var(--border);
  border-radius: 0.625rem 0.125rem 0.625rem 0.125rem;
  font-size: 1rem;
  cursor: default;
  transition: all 0.3s ease;

  &:nth-child(3n + 1):hover {
    border-color: var(--accent-1);
    background: var(--accent-1);
    color: var(--light);
  }

  &:nth-child(3n + 2):hover {
    border-color: var(--accent-2);
    background: var(--accent-2);
    color: var(--light);
  }

  &:nth-child(3n + 3):hover {
    border-color: var(--accent-3);
    background: var(--accent-3);
    color: var(--light);
  }
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
  -webkit-font-smoothing: antialiased;
}
